[tool.poetry]
name = "local_tuya"
version = "4.0.6"
description = "Control Tuya devices with MQTT over LAN."
authors = ["Gabriel Pajot <gab@lescactus.eu>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/gpajot/local-tuya"
include = ["local_tuya/py.typed"]

[tool.poetry.dependencies]
python = ">=3.9"

aiomqtt = { version = ">=2.3.0,<3", python = "<4" }
concurrent-tasks = ">=1.10,<2"
imbue = ">=2.1.1,<3"
pycryptodomex = ">=3,<4"
typing-extensions = ">=4.10"
zenconfig = { version = ">=2.1.1,<3", extras = ["pydantic", "yaml"] }

[tool.poetry.group.test.dependencies]
pytest = "==8.4.1"
pytest-asyncio = "==1.1.0"
pytest-mock = "==3.14.1"
ruff = "==0.12.9"
mypy = "==1.17.1"
pre-commit = "==4.3.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
check_untyped_defs = true
ignore_missing_imports = true
install_types = true
non_interactive = true
warn_redundant_casts = true
warn_unused_ignores = true

[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"

[tool.ruff.lint]
select = ["A", "B", "E", "F", "I", "PT"]
ignore = ["E501"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
